*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}


.navbar{
    background-color: rgb(58, 53, 54);
    height:72px;
    font: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{ 
    height: 22px;
    width: 900px;
}

.logo{
    height: 22px;
    width: 190px;
    background-image: url("Alibaba-Logo.png"); 
    background-size: cover;
}

.add-first{
    color:white;
    font-size: 0.85rem;;
    margin-left: 28px;
}

.add-second{ 
    color: white;
    font-size: 1rem;
    margin-left: 10px;
}

.add-icon{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.add-icon i{
   font-size: 24px;
}


.globe i {
    font-size: 24px;
}

.globe {
    font-size: 1rem;
    color:white
}

.sign-in{ 
    font-size: 14px;
    color: #fff;
}

.sign-in i{
    font-size: 24px;
}

.signup{ 
    width:120px;
    height:36px;
    border-radius: 9999px;
    background-color: #f60; 
    text-align: center; 
    line-height: 36px;
}

.signup-button{
     
    padding: 0px 24px;
    background-color: #f60; 
    color:#fff;
    font-size: 14px; 
    font-weight: 600;
    border: none;
}


.panel{ 
    height: 40px;
    background-color: black;
    display: flex;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

.panel-ops1{ 
    width: 50%; 
    font-size: 0.95rem;
}

.panel-ops1 p{ 
    display: inline;
    margin-left: 10px; 
}

.panel-ops2{ 
    width: 33%; 
    font-size: 0.95rem;
}

.panel-ops2 p{
    display: inline;  
    width: 100%;
    margin-left: 10px;
    font-size: 0.95rem; 
    text-align: right;
}


/** content container **/


.content-container{
    width: 100%;
    height:510px;
    background-image: url("hero-image.avif");
    background-size: cover;
    color:white;   
}

.content-container-inner{
    margin-left: 36px;
}
.watch-video{ 
    height: 24px; 
    padding: 50px 0px;
}

.home-main-title{
    width:950px;
    height:140px;
    margin-bottom: 20px;
    font-size: 40px;
}

.ife-header-serch-bar{
    
}

.search-bar{
    width:786px;
    height:56px;
    background-color: white;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input{
    width: 565px;
    height: 36px;
    font-size: 1rem;
    border: 0px;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:white;
    margin: 0px 8px 0px 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon-button{
    width:125px;
    height: 48px;
    background-color: #ff6a00;
    font-size: 16px;
    color:white;
    border-radius: 24px;
    border: 0px;
    margin-left: 30px;
}

.frequently-serached{
    width:786px;
    height:56px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
}

.frequently-serached-button{
    width:178px;
    height: 36px;
    background-color: transparent;
    border-radius: 24px;
    color:white;
    border: 2px solid white; 
    margin: 10px;
}

.nav-wrapper{
    background-color: #3a190b;
    height:470px;
    width: 100%;
    color: white;
    font-size: 16px; 
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center;
}

.nav-container{ 
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-cube{
    background-color: #FFFFFF08;
    padding: 40px 20px;
    width: 336px;
    height: 250px;
    border-radius: 16px;
    border: 2px solid #FFFFFF08;
    text-align: left;  
    display: flex;
    flex-direction: column; /* Aligns content vertically */
    justify-content: space-between; /* Adds space between elements */
    margin: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.nav-cube:hover {
    background-color: #FFFFFF30; /* Changes background color on hover */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Adds shadow effect on hover */
}


.nav-cube-continer{ 
    background-color: hsla(0, 0%, 100%, .08);
    border-radius: 40px;
    height: 60px;
    width: 60px;
    display: flex;            /* Enables flexbox */
    justify-content: center;   /* Centers content horizontally */
    align-items: center;
}

.nav-cube-icon1{ 
    width: 40px;
    height: 40px;  
    background-image: url("box1.avif");
    background-size: cover;
    margin: auto;
}

.nav-cube-icon2{
    width: 40px;
    height: 40px;  
    background-image: url("box2.avif");
    background-size: cover;
    margin: auto;
}
.nav-cube-icon3{
    width: 40px;
    height: 40px;  
    background-image: url("box3.avif");
    background-size: cover;
    margin: auto;
}
.nav-cube-icon4{
    width: 40px;
    height: 40px;  
    background-image: url("box4.avif");
    background-size: cover;
    margin: auto;
}
.nav-cube-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

.nav-cube-description {
    font-size: 16px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8); /* Lighter text color for readability */
}


/** footer info **/
.footer{
    height: 100px;
    width: 100%;
    flex-direction: column;
    display: inline;
    text-align: center;
}

.footer-info {
    gap: 12px;
    width: 100%; 
    padding: 10px 30px; /* Reduce top and bottom padding */
    background-color: #f4f4f4;
    color: #666;
    
}

.footer-info:last-child {
    margin-bottom: 0; /* Ensure no extra space below the last footer-info div */
}

.footer-info p {
    display: inline; /* Ensure the <p> elements are inline */
    margin: 0; /* Remove default margin */
    line-height: 1.2;
}